---
import { Image } from "astro:assets";
import wc from "../../public/img/category/wc.png";
import electri from "../../public/img/category/electri.png";
import ferre from "../../public/img/category/ferre.png";
import ilumina from "../../public/img/category/ilumina.png";
import jardin from "../../public/img/category/jardin.png";
import cocina from "../../public/img/category/cocina.png";
import construc from "../../public/img/category/construc.png";
import estan from "../../public/img/category/estan.png";
import plomeria from "../../public/img/category/plomeria.png";
import seguri from "../../public/img/category/seguri.png";
import venti from "../../public/img/category/venti.png";
import alberca from "../../public/img/category/alberca.png";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <section
        class="w-full h-full flex flex-col justify-center items-center lg:max-w-screen-2xl lg:mx-auto mt-16 sm:mt-2 lg:mt-8"
    >
        <section class="lg:ml-12">
            <div class="w-full flex flex-wrap justify-center items-center md:px-14 gap-y-4">
                <a href="/products?categoria=baños">
                    <div class="flex w-full">
                        <div
                            class="relative flex flex-col items-start m-1 transition duration-300 ease-in-out delay-150 transform bg-white shadow-2xl rounded-xl w-72 lg:-ml-16 lg:hover:-translate-x-16 lg:hover:-translate-y-8"
                        >
                            <Image
                                class="object-cover object-center w-full rounded-t-xl h-48"
                                src={wc}
                                alt="wc"
                            />
                            <div class="px-6 py-8">
                                <h4 class="mt-4 text-3xl font-semibold text-neutral-600">
                                    <span class=""
                                        ><font style="vertical-align: inherit;"
                                            ><font style="vertical-align: inherit;"
                                                >Baños</font
                                            ></font
                                        ></span
                                    >
                                </h4>
                                <p
                                    class="mt-4 text-base font-normal text-gray-500 leading-relax"
                                >
                                    <font style="vertical-align: inherit;"
                                        ><font style="vertical-align: inherit;">
                                            * Accesorios para baños <br />
                                            * Grifaría <br />
                                            * Regaderas y accesorios <br />
                                            * Sanitarios <br />
                                        </font></font
                                    >
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
                <!-- item 2 -->
                <a href="/products?categoria=electrico">
                    <div class="flex w-full">
                        <div
                            class="relative flex flex-col items-start m-1 transition duration-300 ease-in-out delay-150 transform bg-white shadow-2xl rounded-xl w-72 lg:-ml-16 lg:hover:-translate-x-16 lg:hover:-translate-y-8"
                        >
                            <Image
                                class="object-cover object-center w-full rounded-t-xl h-48"
                                src={electri}
                                alt="electri"
                            />
                            <div class="px-6 py-8">
                                <h4 class="mt-4 text-3xl font-semibold text-neutral-600">
                                    <span class=""
                                        ><font style="vertical-align: inherit;"
                                            ><font style="vertical-align: inherit;"
                                                >Eléctrico</font
                                            ></font
                                        ></span
                                    >
                                </h4>
                                <p
                                    class="mt-4 text-base font-normal text-gray-500 leading-relax"
                                >
                                    <font style="vertical-align: inherit;"
                                        ><font style="vertical-align: inherit;">
                                            * Apagadores y conectores <br />
                                            * Centros de cargas <br />
                                            * Extensiones y multicontactos <br />
                                            * Paneles solares <br />
                                        </font></font
                                    >
                                </p>
                            </div>
                        </div>
                    </div>
                </a>

                <!-- item 3 -->
                <a href="/products?categoria=ferreteria">
                    <div class="flex w-full">
                        <div
                            class="relative flex flex-col items-start m-1 transition duration-300 ease-in-out delay-150 transform bg-white shadow-2xl rounded-xl w-72 lg:-ml-16 lg:hover:-translate-x-16 lg:hover:-translate-y-8"
                        >
                            <Image
                                class="object-cover object-center w-full rounded-t-xl h-48"
                                src={ferre}
                                alt="ferre"
                            />
                            <div class="px-6 py-8">
                                <h4 class="mt-4 text-3xl font-semibold text-neutral-600">
                                    <span class=""
                                        ><font style="vertical-align: inherit;"
                                            ><font style="vertical-align: inherit;"
                                                >Ferretería</font
                                            ></font
                                        ></span
                                    >
                                </h4>
                                <p
                                    class="mt-4 text-base font-normal text-gray-500 leading-relax"
                                >
                                    <font style="vertical-align: inherit;"
                                        ><font style="vertical-align: inherit;">
                                            * Accesorios <br />
                                            * Buzones, números y letras <br />
                                            * LLaves y accesorios <br />
                                            * Automotriz <br />
                                        </font></font
                                    >
                                </p>
                            </div>
                        </div>
                    </div>
                </a>

                <!-- item 4 -->
                <a href="/products?categoria=iluminacion">
                    <div class="flex w-full">
                        <div
                            class="relative flex flex-col items-start m-1 transition duration-300 ease-in-out delay-150 transform bg-white shadow-2xl rounded-xl w-72 lg:-ml-16 lg:hover:-translate-x-16 lg:hover:-translate-y-8"
                        >
                            <Image
                                class="object-cover object-center w-full rounded-t-xl h-48"
                                src={ilumina}
                                alt="ilumina"
                            />
                            <div class="px-6 py-8">
                                <h4 class="mt-4 text-3xl font-semibold text-neutral-600">
                                    <span class=""
                                        ><font style="vertical-align: inherit;"
                                            ><font style="vertical-align: inherit;"
                                                >Iluminación</font
                                            ></font
                                        ></span
                                    >
                                </h4>
                                <p
                                    class="mt-4 text-base font-normal text-gray-500 leading-relax"
                                >
                                    <font style="vertical-align: inherit;"
                                        ><font style="vertical-align: inherit;">
                                            * Candiles y lámparas colgantes <br />
                                            * Focos <br />
                                            * Iluminación comercial <br />
                                            * Iluminación de seguridad <br />
                                        </font></font
                                    >
                                </p>
                            </div>
                        </div>
                    </div>
                </a>

                <!-- item 5 -->
                <a href="/products?categoria=jardin">
                    <div class="flex w-full">
                        <div
                            class="relative flex flex-col items-start m-1 transition duration-300 ease-in-out delay-150 transform bg-white shadow-2xl rounded-xl w-72 lg:-ml-16 lg:hover:-translate-x-16 lg:hover:-translate-y-8"
                        >
                            <Image
                                class="object-cover object-center w-full rounded-t-xl h-48"
                                src={jardin}
                                alt="jardin"
                            />
                            <div class="px-6 py-8">
                                <h4 class="mt-4 text-3xl font-semibold text-neutral-600">
                                    <span class=""
                                        ><font style="vertical-align: inherit;"
                                            ><font style="vertical-align: inherit;"
                                                >Jardín</font
                                            ></font
                                        ></span
                                    >
                                </h4>
                                <p
                                    class="mt-4 text-base font-normal text-gray-500 leading-relax"
                                >
                                    <font style="vertical-align: inherit;"
                                        ><font style="vertical-align: inherit;">
                                            * Asadores y hieleras <br />
                                            * Decoración del jardín <br />
                                            * Herramientas para jardín <br />
                                            * Insecticidas <br />
                                        </font></font
                                    >
                                </p>
                            </div>
                        </div>
                    </div>
                </a>

                <!-- item 6 -->
                <a href="/products?categoria=cocina">
                    <div class="flex w-full">
                        <div
                            class="relative flex flex-col items-start m-1 transition duration-300 ease-in-out delay-150 transform bg-white shadow-2xl rounded-xl w-72 lg:-ml-16 lg:hover:-translate-x-16 lg:hover:-translate-y-8"
                        >
                            <Image
                                class="object-cover object-center w-full rounded-t-xl h-48"
                                src={cocina}
                                alt="cocina"
                            />
                            <div class="px-6 py-8">
                                <h4 class="mt-4 text-3xl font-semibold text-neutral-600">
                                    <span class=""
                                        ><font style="vertical-align: inherit;"
                                            ><font style="vertical-align: inherit;"
                                                >Cocina</font
                                            ></font
                                        ></span
                                    >
                                </h4>
                                <p
                                    class="mt-4 text-base font-normal text-gray-500 leading-relax"
                                >
                                    <font style="vertical-align: inherit;"
                                        ><font style="vertical-align: inherit;">
                                            * Campanas <br />
                                            * Estufas <br />
                                            * Parrillas <br />
                                            <br />
                                        </font></font
                                    >
                                </p>
                            </div>
                        </div>
                    </div>
                </a>

                <!-- item 7 -->
                <a href="/products?categoria=construccion">
                    <div class="flex w-full">
                        <div
                            class="relative flex flex-col items-start m-1 transition duration-300 ease-in-out delay-150 transform bg-white shadow-2xl rounded-xl w-72 lg:-ml-16 lg:hover:-translate-x-16 lg:hover:-translate-y-8"
                        >
                            <Image
                                class="object-cover object-center w-full rounded-t-xl h-48"
                                src={construc}
                                alt="construc"
                            />
                            <div class="px-6 py-8">
                                <h4 class="mt-4 text-3xl font-semibold text-neutral-600">
                                    <span class=""
                                        ><font style="vertical-align: inherit;"
                                            ><font style="vertical-align: inherit;"
                                                >Construcción</font
                                            ></font
                                        ></span
                                    >
                                </h4>
                                <p
                                    class="mt-4 text-base font-normal text-gray-500 leading-relax"
                                >
                                    <font style="vertical-align: inherit;"
                                        ><font style="vertical-align: inherit;">
                                            * Malla plafón <br />
                                            * Escaleras <br />
                                            * Impermeabilizante <br />
                                            * Maquinaria para construcción <br />
                                        </font></font
                                    >
                                </p>
                            </div>
                        </div>
                    </div>
                </a>

                <!-- item 8 -->
                <a href="/products?categoria=estantes">
                    <div class="flex w-full">
                        <div
                            class="relative flex flex-col items-start m-1 transition duration-300 ease-in-out delay-150 transform bg-white shadow-2xl rounded-xl w-72 lg:-ml-16 lg:hover:-translate-x-16 lg:hover:-translate-y-8"
                        >
                            <Image
                                class="object-cover object-center w-full rounded-t-xl h-48"
                                src={estan}
                                alt="estan"
                            />
                            <div class="px-6 py-8">
                                <h4 class="mt-4 text-3xl font-semibold text-neutral-600">
                                    <span class=""
                                        ><font style="vertical-align: inherit;"
                                            ><font style="vertical-align: inherit;"
                                                >Organizadores
                                            </font></font
                                        ></span
                                    >
                                </h4>
                                <p
                                    class="mt-4 text-base font-normal text-gray-500 leading-relax"
                                >
                                    <font style="vertical-align: inherit;"
                                        ><font style="vertical-align: inherit;">
                                            * Estantes metálicos <br />
                                            * Estantes plásticos <br />
                                            * Repisas y mensualas <br />
                                            <br />
                                        </font></font
                                    >
                                </p>
                            </div>
                        </div>
                    </div>
                </a>

                <!-- item 9 -->
                <a href="/products?categoria=plomeria">
                    <div class="flex w-full">
                        <div
                            class="relative flex flex-col items-start m-1 transition duration-300 ease-in-out delay-150 transform bg-white shadow-2xl rounded-xl w-72 lg:-ml-16 lg:hover:-translate-x-16 lg:hover:-translate-y-8"
                        >
                            <Image
                                class="object-cover object-center w-full rounded-t-xl h-48"
                                src={plomeria}
                                alt="plomeria"
                            />
                            <div class="px-6 py-8">
                                <h4 class="mt-4 text-3xl font-semibold text-neutral-600">
                                    <span class=""
                                        ><font style="vertical-align: inherit;"
                                            ><font style="vertical-align: inherit;"
                                                >Plomería</font
                                            ></font
                                        ></span
                                    >
                                </h4>
                                <p
                                    class="mt-4 text-base font-normal text-gray-500 leading-relax"
                                >
                                    <font style="vertical-align: inherit;"
                                        ><font style="vertical-align: inherit;">
                                            * Equipo hidroneumático <br />
                                            * Calentadores de agua <br />
                                            * Reparación y reemplazo <br />
                                            * Tuberías y conexiones <br />
                                        </font></font
                                    >
                                </p>
                            </div>
                        </div>
                    </div>
                </a>

                <!-- item 10 -->
                <a href="/products?categoria=seguridad">
                    <div class="flex w-full">
                        <div
                            class="relative flex flex-col items-start m-1 transition duration-300 ease-in-out delay-150 transform bg-white shadow-2xl rounded-xl w-72 lg:-ml-16 lg:hover:-translate-x-16 lg:hover:-translate-y-8"
                        >
                            <Image
                                class="object-cover object-center w-full rounded-t-xl h-48"
                                src={seguri}
                                alt="seguri"
                            />
                            <div class="px-6 py-8">
                                <h4 class="mt-4 text-3xl font-semibold text-neutral-600">
                                    <span class=""
                                        ><font style="vertical-align: inherit;"
                                            ><font style="vertical-align: inherit;"
                                                >Seguridad</font
                                            ></font
                                        ></span
                                    >
                                </h4>
                                <p
                                    class="mt-4 text-base font-normal text-gray-500 leading-relax"
                                >
                                    <font style="vertical-align: inherit;"
                                        ><font style="vertical-align: inherit;">
                                            * Cajas fuertes <br />
                                            * Candados <br />
                                            * Equipo de seguridad <br />
                                            * Lámparas y linternas <br />
                                        </font></font
                                    >
                                </p>
                            </div>
                        </div>
                    </div>
                </a>

                <!-- item 11 -->
                <a href="/products?categoria=ventilacion">
                    <div class="flex w-full">
                        <div
                            class="relative flex flex-col items-start m-1 transition duration-300 ease-in-out delay-150 transform bg-white shadow-2xl rounded-xl w-72 lg:-ml-16 lg:hover:-translate-x-16 lg:hover:-translate-y-8"
                        >
                            <Image
                                class="object-cover object-center w-full rounded-t-xl h-48"
                                src={venti}
                                alt="venti"
                            />
                            <div class="px-6 py-8">
                                <h4 class="mt-4 text-3xl font-semibold text-neutral-600">
                                    <span class=""
                                        ><font style="vertical-align: inherit;"
                                            ><font style="vertical-align: inherit;"
                                                >Ventilación</font
                                            ></font
                                        ></span
                                    >
                                </h4>
                                <p
                                    class="mt-4 text-base font-normal text-gray-500 leading-relax"
                                >
                                    <font style="vertical-align: inherit;"
                                        ><font style="vertical-align: inherit;">
                                            * Aire acondicionado <br />
                                            * Ventiladores de techo <br />
                                            <br />
                                            <br />
                                        </font></font
                                    >
                                </p>
                            </div>
                        </div>
                    </div>
                </a>

                <!-- item 12 -->
                <a href="/products?categoria=albercas">
                    <div class="flex w-full">
                        <div
                            class="relative flex flex-col items-start m-1 transition duration-300 ease-in-out delay-150 transform bg-white shadow-2xl rounded-xl w-72 lg:-ml-16 lg:hover:-translate-x-16 lg:hover:-translate-y-8"
                        >
                            <Image
                                class="object-cover object-center w-full rounded-t-xl h-48"
                                src={alberca}
                                alt="alberca"
                            />
                            <div class="px-6 py-8">
                                <h4 class="mt-4 text-3xl font-semibold text-neutral-600">
                                    <span class=""
                                        ><font style="vertical-align: inherit;"
                                            ><font style="vertical-align: inherit;"
                                                >Albercas</font
                                            ></font
                                        ></span
                                    >
                                </h4>
                                <p
                                    class="mt-4 text-base font-normal text-gray-500 leading-relax"
                                >
                                    <font style="vertical-align: inherit;"
                                        ><font style="vertical-align: inherit;">
                                            * Limpieza de alberca <br />
                                            * Calentamiento de alberca <br />
                                            * Bombas para alberca <br />
                                            * Accesorios para alberca <br />
                                        </font></font


                                        Limpieza de alberca 
                                        Calentamiento de alberca 
                                        Bombas para alberca 
                                        Mangueras 
                                        Accesorios para alberca 
                                        Cascadas
                                        Bombas para fuente



                                    >
                                </p>
                            </div>
                        </div>
                    </div>
                </a>




            </div>
        </section>
    </section>
</BaseLayout>
