---
import BaseLayout from "../layouts/BaseLayout.astro";
import CarouselPC from "../components/CarouselPC.astro";
import CarouselTB from "../components/CarouselTB.astro";
import CarouselMB from "../components/CarouselMB.astro";
import Hero from "../components/Hero.astro";
import Contact from "../components/Contact.astro";

import { carrusel1 } from "../../public/img/carrusel1/carrusel1";
import { carrusel2 } from "../../public/img/carrusel2/carrusel2";
import { carrusel3 } from "../../public/img/carrusel3/carrusel3";
import { carrusel4 } from "../../public/img/carrusel4/carrusel4";
---

<BaseLayout>
    <Hero />
    <section id="promotions" class="scroll-mt-24">
        <div class="relative flex items-center justify-center my-12">
            <div
                class="w-full h-1 bg-sky-600"
            >
            </div>
            <div
                class="absolute px-4 py-1 bg-gray-100 text-black font-medium border-2 border-gray-300 rounded-full text-lg"
            >
                Productos destacados
            </div>
        </div>
    </section>
    <a href="/products?categoria=ferreteria">
        <CarouselPC products={carrusel1} />
        <CarouselTB products={carrusel1} />
        <CarouselMB products={carrusel1} />
    </a>
    <section id="promotions2" class="scroll-mt-24">
        <div class="relative flex items-center justify-center my-12">
            <div
                class="w-full h-1 bg-sky-600"
            >
            </div>
            <div
                class="absolute px-4 py-1 bg-gray-100 text-black font-medium border-2 border-gray-300 rounded-full text-lg"
            >
                Piscinas
            </div>
        </div>
    </section>
    <a href="/products?categoria=albercas">
        <CarouselPC products={carrusel2} />
        <CarouselTB products={carrusel2} />
        <CarouselMB products={carrusel2} />
    </a>
    <section id="promotions3" class="scroll-mt-24">
        <div class="relative flex items-center justify-center my-12">
            <div
                class="w-full h-1 bg-sky-600"
            >
            </div>
            <div
                class="absolute px-4 py-1 bg-gray-100 text-black font-medium border-2 border-gray-300 rounded-full text-lg"
            >
                Regaderas y llaves
            </div>
        </div>
    </section>
    <a href="/products?categoria=ba침os">
        <CarouselPC products={carrusel3} />
        <CarouselTB products={carrusel3} />
        <CarouselMB products={carrusel3} />
    </a>
    <section id="promotions4" class="scroll-mt-24">
        <div class="relative flex items-center justify-center my-12">
            <div
                class="w-full h-1 bg-sky-600"
            >
            </div>
            <div
                class="absolute px-4 py-1 bg-gray-100 text-black font-medium border-2 border-gray-300 rounded-full text-lg"
            >
                Luminaria 
            </div>
        </div>
    </section>
    <a href="/products?categoria=iluminacion">
        <CarouselPC products={carrusel4} />
        <CarouselTB products={carrusel4} />
        <CarouselMB products={carrusel4} />
    </a>
    <section>
        <div class="relative flex items-center justify-center my-12">
            <div
                class="w-full h-1 bg-sky-600"
            >
            </div>
            <div
                class="absolute px-4 py-1 bg-gray-100 text-black font-medium border-2 border-gray-300 rounded-full text-lg"
            >
                Cont치ctanos
            </div>
        </div>
    </section>
    <Contact/>
</BaseLayout>

<script>
    import { supabase } from "../auth/supabaseClient";

    // Al cargar la p치gina
    window.addEventListener("load", async () => {
        const { access_token, refresh_token, expires_in } = getURLParams();

        if (access_token) {
            // Pasa el token a Supabase para que establezca la sesi칩n
            await supabase.auth.setSession({
                access_token,
                refresh_token,
            });

            // Limpia la URL para que no tenga los tokens
            window.history.replaceState({}, document.title, "/");
        }
    });

    function getURLParams() {
        const hash = window.location.hash;
        const params = new URLSearchParams(hash.substring(1)); // Eliminar el "#" al principio
        return {
            access_token: params.get("access_token"),
            refresh_token: params.get("refresh_token"),
            expires_in: params.get("expires_in"),
        };
    }
</script>
