---
const { products } = Astro.props;
---

<section id="carousel" class="scroll-mt-20 mt-10 sm:mt-0 sm:px-4">
    <article class="col-span-2 hidden size-pc:block">
        <div
            data-hs-carousel='{"loadingClasses": "opacity-0", "isAutoPlay": true }'
            class="relative"
        >
            <div
                class="hs-carousel relative overflow-hidden w-full min-h-72 lg:rounded-s-3xl sm:min-h-[35rem] lg:min-h-[560px]"
            >
                <div
                    class="hs-carousel-body absolute top-0 bottom-0 start-0 flex flex-nowrap transition-transform duration-700 opacity-0"
                >
                    <div class="hs-carousel-slide">
                        <div class="flex justify-center h-full">
                            {
                                products.slice(0, 4).map((product) => (
                                    <div class="container py-4">
                                        <div class="mx-auto flex w-80 flex-col justify-center bg-white rounded-2xl shadow-xl shadow-gray-400/20">
                                            <div class="relative flex justify-center">
                                                <img
                                                    src={product.img}
                                                    alt={product.nombre}
                                                    class="h-72 w-full object-contain object-center mb-4"
                                                />
                                                <div class="absolute bottom-2 right-2 bg-sky-950 text-white text-sm px-2 py-1 rounded-lg">
                                                    ${product.precio}
                                                </div>
                                            </div>

                                            <div class="p-6">
                                                <h1 class="text-2xl font-medium text-gray-700 pb-2">
                                                    {product.nombre.length > 35
                                                        ? `${product.nombre.slice(0, 35)}...`
                                                        : product.nombre}
                                                </h1>
                                                <p class="text text-gray-500 leading-6 h-24">
                                                    {product.descripcion.length > 130
                                                        ? `${product.descripcion.slice(0, 130)}...`
                                                        : product.descripcion}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                ))
                            }
                        </div>
                    </div>
                    

                    <div class="hs-carousel-slide">
                        <div class="flex justify-center h-full">
                            {
                                products.slice(4, 8).map((product) => (
                                    <div class="container py-4">
                                        <div class="mx-auto flex w-80 flex-col justify-center bg-white rounded-2xl shadow-xl shadow-gray-400/20">
                                            <div class="relative flex justify-center">
                                                <img
                                                    src={product.img}
                                                    alt={product.nombre}
                                                    class="h-72 w-fuontain object-top mb-4"
                                                />
                                                <div class="absolute bottom-2 right-2 bg-sky-950 text-white text-sm px-2 py-1 rounded-lg">
                                                    ${product.precio}
                                                </div>
                                            </div>

                                            <div class="p-6">
                                                <h1 class="text-2xl font-medium text-gray-700 pb-2">
                                                    {product.nombre.length > 35
                                                        ? `${product.nombre.slice(0, 35)}...`
                                                        : product.nombre}
                                                </h1>
                                                <p class="text text-gray-500 leading-6 h-24">
                                                    {product.descripcion.length > 130
                                                        ? `${product.descripcion.slice(0, 130)}...`
                                                        : product.descripcion}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                ))
                            }
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </article>
</section>
